
.container
    width: 60%
    min-height: 65vh
    background: white
    border-radius: 20px
    margin: 0 auto
    margin-top: 15vh
    box-shadow: 7px 7px 20px 1px rgb(0 0 0 / 30%)
    h1
        font-size: 30px
        text-align: center
        padding-top: 10px
        font-weight: 500 
        margin-top: 0px
        padding-top: 30px
    .input_wrapper
        margin: 0 auto
        display: flex 
        width: 80% 
        justify-content: space-between
    .choose_parametrs
        margin: 0 auto
        display: flex 
        width: 80% 
        justify-content: space-between
        align-items: center
        margin-top: 5vh
        .sex
            width: 208px
            height: 56px 
        .activity
            width: 472px
            height: 56px 
    .results
        width: 80%
        margin: 0 auto
        margin-top: 5vh
        h2
            font-weight: normal
            margin: 0
            padding-bottom: 2vh
            span 
                font-weight: bold
                




